@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
/* Exercício fundo 001 */
body h1, h2 {
    text-align: center;
    padding: 10px;
}
div.quadradomae {
    margin: 0 0 0 150px;
}
div.quadrado {
    display: inline-block;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
div#q1 {
    background-color: skyblue;
    margin: 0 10px 0 10px;
}
div#q2 {
    background-image: linear-gradient(to bottom, yellow, red);
    margin: 0 20px 0 20px;
}
div#q3 {
    background-image: url('imagens/pattern003.png');
    margin: 0 10px 0 10px;
}
/* Personalização dos fundos 002*/
div.pdfundos {
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 100px 100px;
    /*background-repeat: repeat-y;*/
    height: 500px;
    width: 1000px;
    margin: auto;
}
/* Posição dos fundos 003*/
div.bloco {
    background-image: url('imagens/wallpaper003.jpg');
    background-repeat: no-repeat;
    height: 200px;
    width: 1200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 auto 5px auto;
}
div#q13 {
    background-position: left top;
}
div#q23 {
    background-position: left center;
}
div#q33 {
    background-position: right bottom;
}
div#q43 {
    background-position: center center;
}
/* Posicionamento exercício 004 */
div.pos {
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
    width: 1000px;
    margin: auto;
    border: 1px solid black;
}
/* Posiionamento exercício 005 */
div.ex005 {
    background-image: url('imagens/wallpaper003.jpg');
    background-position: right bottom;
    height: 98vh;
    width: 1000px;
    margin: auto;
}
/* Teste de imagem de fundo exercício 006 */
div.tifundo {
    height: 100vh;
    background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    margin: 10px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.tifundo p {
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
}
div.tifundo h1, h2 {
    color: white;
}