* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}
h6 {
    margin: 5px;
    background-color: blue;
    color: blue;
    padding: 10px;
    height: 20px;
}
iframe#iframe-aula-quatro {
    display: block;
    margin: auto;
    width: 95vw;
    height: 400px;
    border: 2px solid black;
}
iframe {
    margin: auto;
    display: block;
}