@charset "UTF-8";
/* primeira aula de flexible box */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
section img {
    display: flex;
    margin: 5px auto;
}
section h1, h2, p {
    text-align: center;
    background-color: aqua;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
div.conteiner {
    background-color: lightsalmon;
    display: flex;
    margin: 10px;
}
div.item {
    background-color: lightskyblue;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
    flex: auto;/* faz com que os filhos do container ocupe todo o espaço do pai */
}
/* segunda aula de flexible box */
div.conteiner-dois {
    background-color: lightsalmon;
    display: flex;
    flex-direction: row;
    margin: 10px;
}
div.conteiner-dois > .item2 {
    background-color: lightskyblue;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
}
/* terceira aula de flexible box */
div.conteiner-tres {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    /*flex-wrap: wrap; no lugar das linhas 49 e 50 usar flex-flow */
}
div.conteiner-tres > .item3 {
    background-color: lightskyblue;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
    flex: auto;/* flex: auto só funciona no filho, no pai não */
}
/* quarta aula de flexible box */
div.conteiner-quatro {
    background-color: lightsalmon;
    display: flex;
    justify-content: space-between;/* deve ficar no pai */
}
div.conteiner-quatro > .item4 {
    background-color: lightskyblue;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
}
/* quinta aula de flexible box */
section.conteiner-mae {
    background-color: lightgreen;
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
section.conteiner-cinco {
    background-color: lightseagreen;
    height: 200px;
    width: 200px;
}
/* sexta aula de flexible box */
div.conteiner-seis {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    height: 400px;
}
div.conteiner-seis > .item6 {
    background-color: lightskyblue;
    border: 1px solid white;
    text-align: center;
    padding: 40px;
}
/* sétima aula de flexible box */
div.conteiner-sete {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row wrap;
}
div.conteiner-sete > .item7 {
    background-color: lightskyblue;
    border: 1px solid white;
    text-align: center;
    padding: 20px;
}
div#i1 {
    order: 0;
}
div#i2 {
    order: -2;
}
div#i3 {
    order: 4;
}
div#i4 {
    order: 8;
}
div#i5 {
    order: 2;
}
div#i6 {
    order: 0;
}
div#i7 {
    order: 2;
}
/* sétima aula de flexible box */
div.conteiner-oito {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    height: 400px;
}
div.conteiner-oito > .item8 {
    background-color: lightskyblue;
    border: 1px solid white;
    text-align: center;
    padding: 20px;
}
div#i1 {
    order: 0;
    align-self: start;
}
div#i2 {
    order: -2;
    align-self: auto;
}
div#i3 {
    order: 4;
    align-self: flex-end;
}
div#i4 {
    order: 8;
    align-self: auto;
}
div#i5 {
    order: 2;
    align-self: center;
}
div#i6 {
    order: 0;
    align-self: end;
}
div#i7 {
    order: 2;
    align-self: stretch;
}