* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body h1, h2{
    padding: 10px;
}
body h6 {
    background: blue;
    color: blue;
    padding: 10px;
    margin: 10px;
}
.tabelaum {
    width: 400px;
    height: 400px;
    border-collapse: collapse; /* Junta as linhas das bordas */
    margin: auto;
}
.colum {
    border: 1px solid black;
    padding: 8px;
    text-align: center; /* Alinhamento horizontal */
    vertical-align: top; /* Alinhamento Verticalmente com top bottom e middle que centraliza */
}
/* Exercício 02 */
.tabela {
    width: 1250px;
    margin: auto;
    position: relative;
}
.cabecalho > .cabecalho-linha > .cabecalho-coluna {
    position: sticky;
    top: 0;
    background-color: #383838;
    padding: 10px 0 10px 0;
    border-color: white;
}
.pduf {
    background: cadetblue;
    font: bold;
    color: white;
    padding: 10px;
}
.corpo-linha:nth-child(2n) {
    background-color: lightgray;
}/*
.corpo-linha .corpoum, .umcol {
    border: 1px solid black;
    border-collapse: collapse;
}*/
.cabecalho, .rodape {
    background-color: gray;
    color: white;
}
.corpo-linha .corpo-coluna {
    text-align: left;
}

/* Exercício 003 / Mesclagem de Celulas */
.mcelulas {
    border-collapse: collapse;
    margin: auto;
    width: 300px;
    height: 300px;
}
.mcelulas .lcelulas {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.mcelulas .ccelulas .lcelulas{
    text-align: center;
}
/* Desafio 1 */
.desafio {
    margin: auto;
    width: 300px;
    height: 300px;
    border-collapse: collapse;
}
.desafio-coluna-m {
    background: #aaa7a7;
    border: 1px solid black;
}
.desafio-coluna {
    border: 1px solid black;
}
/* Desafio 2 */
.desafio-dois {
    margin: auto;
    width: 300px;
    height: 300px;
    border-collapse: collapse;
}
.coluna-d-dois-m {
    background: #aaa7a7;
    border: 1px solid black;
}
.coluna-d-dois {
    border: 1px solid black;
}
/* Exercício 4 */
.exercicio-quatro {
    margin: auto;
    width: 600px;
    height: 300px;
    border-collapse: collapse;
}
.exercicio-quatro-titulo {
    padding: 10px;
    background: #383838;
    color: white;
}
.coluna-exe-quatro-m {
    background: #aaa7a7;
    border: 1px solid black;
    padding: 10px;
}
.coluna-exe-quatro {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}
/* Desafio Três */
.desafio-tres {
    margin: auto;
    width: 500px;
    border-collapse: collapse;
}
.desafio-tres-titulo {
    padding: 10px;
    background: #383838;
    color: white;
}
.desafio-tres-linha-m {
    border: 1px solid black;
    background: #aaa7a7;
    color: white;
    text-align: center;
}
.desafio-tres-linha {
    border: 1px solid;
    text-align: left;
    padding: 5px;
}
.desafio-tres-linha-n {
    border: 1px solid;
    text-align: center;
    padding: 5px;
}
/* Exercício 05 */
.tabela-cinco {
    margin: auto;
    border-collapse: collapse;
}
.cabecalho-linha-dados {
    border: 1px solid black;
    padding: 10px;
}
.corpo-linha-inclusao {
    border: 1px solid black;
    padding: 10px;
}
.cnome {
    background-color: wheat;
}
/* Exercícios tabela responsiva */
p {
    margin: auto;
    width: 930px;
    text-align: justify;
    padding: 10px;
}
.responsiva {
    margin: auto;
    padding: 10px;
    background-color: #aaa7a7;
    color: white;
}
.container {
    overflow: auto;
}
.tabela-responsiva {
    border-collapse: collapse;
    margin: auto;
}
.coluna-responsiva {
    border: 1px solid black;
    padding: 5px;
}