@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgrey;
    width: 100vw;
    height: 100vh;
}

/* para que os conteudos de um conteiner quebre, é preciso colocar display: flex; e flex-flow: row wrap; desta forma tudo que estiver dentro do container quegrará. */
header {
    background-color: gray;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header>h1 {
    border: 1px dotted black;
    flex: 0 0 450px;/* com esta configuração ele não vai crescer, não vai encolher, mas vai manter sua configuração em 200px */
}

header>nav {
    border: 1px dotted black;
    display: flex;
    flex-flow: row wrap;/* de colocarmos flex-flow: column nowrap; os dados ficaram um encima do outro, se colocarmos flex-flow: row wrap; os itens irão quebrar gradativamente */
    justify-content: flex-end;/* com a configuração justify-content: flex-end; faz com que os dados fiquem a direita */
}

header>nav>a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header>nav>a:hover {
    background-color: white;
    color: black;
    transition: background-color .5s;
}

main {
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.336);
    max-width: 900px;
}