@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #7493F7;
}
h1 {
    color: white;
    text-align: center;
    padding: 10px;
}
h6 {
    background-color: #74BDF7;
    color: #74BDF7;
    height: 25px;
    margin: 10px;
}
/* formulário */
input {
    padding: 5px;
    border-radius: 5px;
    border-radius: 5px;
}
section#formulario select {
    padding: 5px;
    border-radius: 5px;
    border-radius: 5px;
}
section#formulario {
    border-radius: 5px;
    margin: auto;
    width: 320px;
    height: auto;
}
section#formulario p {
    margin: auto;
    float: right;
    padding: 5px;
    color: white;
}
fieldset, legend {
    background-color: #74BDF7;
    color: white;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    margin: 5px;
}
label.bloco {
    display: block;
    padding: 2px;
}