@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    padding: 10px;
}
h6 {
    background-color: blue;
    color: blue;
    height: 25px;
    margin: 10px;
}
section#primeira-aula-form {
    background-color: blue;
    border-radius: 5px;
    margin: 10px auto;
    width: 270px;
    height: 120px;
    margin: auto;
}
section#primeira-aula-form p {
    margin: auto;
    float: right;
    padding: 5px;
    color: white;
}
p input#nome, input#sobrenome {
    float: right;
}
p input#enviar {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border-radius: 5px;
}
section#segundo-formulario {
    background-color: blue;
    border-radius: 5px;
    margin: 10px auto;
    width: 270px;
    height: 120px;
    margin: auto;
}
section#segundo-formulario p {
    margin: auto;
    float: right;
    padding: 5px;
    color: white;
}
p input#limpar {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border-radius: 5px;
}