@charset "UTF-8";
/* Typical Device Breakpoints
-----------------------------
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px*/
* {
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 788px) {/* projeto do professor o min-width está com 768 */
    i#burguer {
        display: none;
    }
    menu {
        display: block;
        margin: auto;
    }
    menu > ul {
        padding: 5px;
    }
    menu > ul > li {
        display: inline-block;
    }
    main {
        width: 768px;
    }
}